html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body {
    background: #16213e;
    font-family: "Finger Paint", cursive;
}

.titulo {
    color: #e94560;
    height: 50px;
    font-size: 70px;
    margin: 35px 0 70px 0;
}

.titulo a{
    color: inherit;
    text-decoration: none;
}

.subtitulo {
    color: white;
}

#seleccionar-mascota,
#seleccionar-ataque {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tarjetas {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 40px 0 30px 0;
    gap: 30px;
}

.tarjeta {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    gap: 15px;
    width: 200px;
    height: 200px;
    background: #0f3460;
    color: #e94560;
    border: 8px solid #e94560;
    font-weight: bold;
    border-radius: 10px;
}

.tarjeta:hover {
    cursor: pointer;
    background: white;
    color: #16213e;
    transition: 0.5s;
    transform: scale(1.1);
}

.imagen-mokepon {
    width: 100px;
}

label {
    font-size: 20px;
}

input {
    display: none;
}

#boton-mascota, #boton-reiniciar {
    margin-top: 15px;
    width: 200px;
    height: 70px;
    background: #0f3460;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border: 8px solid #e94560;
    border-radius: 10px;
    font-family: "Finger Paint", cursive;
}

#boton-mascota:hover, #boton-reiniciar:hover {
    cursor: pointer;
    transform: scale(1.1);
    transition: 0.5s;
}

#seleccionar-ataque .tarjeta {
    font-family: "Finger Paint", cursive;
    font-size: 30px;
}

#informacion-vidas,
#informacion-combate {
    font-size: 20px;
    color: white;
}

#mensajes{
    width: 300px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#informacion-combate{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
}

#informacion-vidas{
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 30px;
    text-align: center;
}